@use "@/styles/global/vars" as v;
@use "@/styles/global/mixins" as *;


.side_menu {
    background-color: v.$gray200;
    color: v.$white;
    position: relative;
    padding-inline: 2rem;
    padding-block: 4rem;
    width: 25rem;

    &__stick {
        position: sticky;
        top: 4rem;
    }

    &__button {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin-block-end: 3rem;
        cursor: pointer;
        border: 1px solid transparent;
        padding-block-end: 1rem;
        span {
            margin-right: 1.5rem;
        }
    }

    &__button:hover {
        color: v.$coral100;
        border-bottom: 1px solid v.$coral100;
    }
    &__button__active {
        color: v.$coral100;

    }
}