@use "@/styles/global/vars" as v;
@use "@/styles/global/mixins" as *;

.home {
    &_order {
        margin-block: 3rem;
    }
    &_buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 4rem;
        margin-block-start: 3rem;
        button {
            width: 22rem;
        }
    }
}