@use "@/styles/global/vars" as v;
@use "@/styles/global/mixins" as *;

.landing_hero {
  padding-inline: 2rem;

  &_container {
    content: '';
    padding-block-start: 7rem;
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  &__icon {
    width: 49.8rem;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    margin-block-start: 4rem;

    img {
      width: 100%;
    }
  }

  h1,
  p {
    font-weight: bold;
    margin-block-start: 2rem;

    span {
      color: v.$blue100;
    }
  }

  .button_green {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    height: auto;
    color: v.$white;
    padding: 1rem 2rem;
    margin-block-start: 4rem;
    font-weight: bold;

    span {
      position: absolute;
      right: 4rem;
    }
  }

  .button_green:hover {
    opacity: 0.7;
  }
}


@include tablet {
  .landing_hero {
    padding-block: 9rem 4rem;
    padding-inline: 0;

    &_container {
      padding-inline-start: 3rem;
      padding-block-start: 0;
      display: flex;
      gap: 2rem;
      padding-inline-end: 0;

      &>* {
        width: 50%;
      }
    }

    .button_green {
      margin: 4rem auto 0 auto;
    }

    &__image {
      text-align: center;
      margin: 0;
      position: relative;

      img {
        width: 35rem;
        position: fixed;
        right: 0;
      }
    }
  }
}


@include desktop {
  .landing_hero {
    &_container {
      padding-inline-start: 4rem;
      padding-block-end: 0;
      align-items: center;
    }

    &__image {
      padding: 0;

      img {
        position: static;
        width: 100%;
      }
    }

    .button_green {
      width: 50%;
      margin: 4rem 0 0 0;
    }
  }
}