@use "@/styles/global/vars" as v;
@use "@/styles/global/mixins" as *;

.form_add {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-block: 1rem;
	cursor: pointer;

	p{
		color: v.$gray700;
	}

	&__button {
		background-color: v.$blue300;
		margin-inline-start: 1rem;
		border-radius: 50%;
		span {
			padding: 1rem;
			color: v.$white;
		}
	}

	&:hover {
		.form_add__button {
			background-color: v.$blue100;
		}
		p {
			color: v.$black;
		}
	}

}