@use "@/styles/global/vars" as v;
@use "@/styles/global/mixins" as *;

.input_text {
	display: block;
	margin-block: 1rem;
	p {
		margin-block-end: 1rem;
	}
	input {
		width: 100%;
		height: 2.5rem;
		font-size: v.$p1;
		padding: 0.5rem 1rem;
		border: 1px solid v.$gray200;
	}
	input:focus-visible {
		outline: 2px solid v.$blue300;
	}
	input::placeholder {
		font-size: 1.4rem;
		font-style: italic;
		color: v.$gray300;
	}
}